<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Ilaan/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /Ilaan/index.html [L]
</IfModule>




# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /Ilaan/
#   RewriteRule ^index\.html$ - [L]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-l
#   RewriteRule . /index.html [L]
# </IfModule>
