# Server
PORT=
NODE_ENV=

# Frontend URL
ALLOWED_ORIGINS=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Email Receiver
EMAIL_TO=your-email@gmail.com